.row-header {
    margin: 0px auto;
    padding: 0px;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    min-height: 400px;
}

.row-space {
    margin: 0px auto;
    padding: 25px 0px 25px 0px;
}
.footer {
    background-color: rgb(133, 74, 6);
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron {
    padding: 10px 0px 10px 0px;
    margin: 0px auto;
    background: tan;
    color: floralwhite;
}

address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar-dark {
    background-color:rgb(133, 74, 6);
}

.navbar-light {
    background-color: #ddd;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.nav-link {
    color: black;
}
.headimg {
    width: 100%;
    height: 300px;
}

.carousel .carousel-item img {
    width: 100%;
    height: 300px;
    overflow: hidden;
    opacity: .8;
}

#carousel-button {
    right: 0px;
    position: absolute;
    bottom: 0px; }

.custTile {
    top:0;
    left: 0;
    position: relative;
    min-width: 172.5px;
    opacity: .5;
}

.tileContent {
    top: 0;
    position: absolute;
    text-align: center;
    margin-right: 30px;
}

#carSlide0 {
    top: 0;
    position: absolute;
    text-align: left;
    margin-right: 450px;
}

#carSlide1 {
    top: 0;
    position: absolute;
    text-align: left;
    margin-left: 575px;
}